*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

/*-- import font fam --*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1.4rem, 2vw, 1.6rem);
}
.App {
  margin-top: 10vh;
}
html {
  font-size: 62.5%;
}
